.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  background: transparent;
  z-index: 999;
}

/* Navbar centrada y max-width 730 */
.header__container {
  max-width: 730px;
  margin: 0 auto;

  background-color: var(--color-bg-page);
  border: 1px solid var(--color-border-nav);
  border-top: none;
  border-radius: 0 0 1.25rem 1.25rem;

  padding: 0.6rem 1rem; /* antes 0.75rem 1rem */

  display: grid;
  grid-template-columns: 1fr auto 1fr; /* izquierda | logo | derecha */
  align-items: center;
}

.header__brand {
  grid-column: 2;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.header__logo-icon {
  width: 2rem;
  height: 2rem;
  color: var(--color-primary);
}

.header__title {
  font-size: 0.9rem;
}

.header__nav-wrapper {
  grid-column: 1;
  justify-self: start;

  display: none;
  align-items: center;
  gap: 1.25rem;
}

.header__nav {
  display: flex;
  gap: 1.25rem;
}

.header__link {
  text-decoration: none;
  color: var(--color-text-main);
  font-size: 0.8rem;
  font-weight: 500;
  transition: color 0.2s;
}

.header__link:hover,
.header__link--active {
  color: var(--color-primary);
}

.header__menu-btn {
  display: block;
  cursor: pointer;
}

.header__actions {
  grid-column: 3;
  justify-self: end;

  display: none;
  align-items: center;
  gap: 0.75rem;
}

@media (min-width: 768px) {
  .header__nav-wrapper {
    display: flex;
  }
  .header__actions {
    display: flex;
  }
  .header__menu-btn {
    display: none;
  }
}
